* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
	background-color: #f9f9f9;
}

h1,
h2 {
	margin: 0px;
	color: hsl(234, 12%, 34%);
	text-align: center;
}

h4 {
	margin: 0px;
	color: hsl(234, 12%, 34%);
	font-size: 16px;
}

h2 {
	margin-top: 20px;
	margin-bottom: 30px;
	color: hsl(229, 6%, 66%);
	font-size: 12px;
	font-weight: 400;
}

p {
	font-size: 12px;
	margin-bottom: 5px;
	color: hsl(229, 6%, 66%)
}

/*Headline and Tagline*/
.headline {
	font-weight: 200;
	padding-top: 50px;
}

.tagline {
	max-width: 38%;
	margin-left: auto;
	margin-right: auto;
}

/*Feature Cards*/
.card {
	max-width: 325px;
	border-radius: 6px;
	margin: 15px;
	padding: 30px;
	box-shadow: 2px 2px 20px 1px hsl(229, 6%, 80%);
	background-color: white;
	font-weight: 400;
}

.supervisor {
	border-top: solid 4px hsl(180, 62%, 55%);
}
.builder {
	border-top: solid 4px hsl(0, 78%, 62%);
}
.karma {
	border-top: solid 4px hsl(34, 97%, 64%);
}
.calculator {
	border-top: solid 4px hsl(212, 86%, 64%);
}

.icon {
	padding-top: 25px;
	width: 60px;
	margin-left: 200px;
}

/*Flexbox*/
.wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.left-card,
.right-card {
	align-self: center;
}

/*Footer*/
footer {
	display: none;
}

/*Media Query*/
@media only screen and (max-width: 600px) {
  
	h1 {
		font-size: 1.5em;
	}

	.headline {
		padding-top: 60px;
	}

	.tagline {
		max-width: 85%;
	}

 	.card {
    margin-left: 30px;
    margin-right: 30px;
  }